h1{
	text-align: center;
    font-size: 2.5em;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
}
h2{
    text-align:  center;
	font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
}

/*
h4{
	text-align: center;
	display: inline-block;
    font-size: 1.5em;
    padding: 10px 22px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
*/
