h1{
	text-align: center;
    font-size: 2.5em;
    font-text: sans serif;
}
h2{
	text-align:  center;
}
body{
    background-color: lemonchiffon;
}
h4{
	text-align: center;
	display: inline-block;
    font-size: 1.5em;
    padding: 10px 22px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}